In [1]:
import glob
import pandas as pd
higher_bite = glob.glob('/home/ben/Documents/analysis_code/spectrum_analysis/output/*')
lower_bite = glob.glob('/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/*')

In [2]:
higher_bite

['/home/ben/Documents/analysis_code/spectrum_analysis/output/116Cd_d,p_117Cd_18degrees_bite_2_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/output/116Cd_d,p_117Cd_25degrees_bite_2_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/output/116Cd_d,p_117Cd_31degrees_bite_2_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/output/116Cd_d,p_117Cd_40degrees_bite_2_peaks.txt']

In [3]:
lower_bite

['/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_31degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_18degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_40degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_25degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_10degrees_bite_1_peaks.txt']

In [4]:
lb_18 = pd.read_table(lower_bite[1], sep = ' ')
hb_18 = pd.read_table(higher_bite[0], sep = ' ')

lb_25 = pd.read_table(lower_bite[3], sep = ' ')
hb_25 = pd.read_table(higher_bite[1], sep = ' ')

lb_31 = pd.read_table(lower_bite[0], sep = ' ')
hb_31 = pd.read_table(higher_bite[2], sep = ' ')

lb_40 = pd.read_table(lower_bite[2], sep = ' ')
hb_40 = pd.read_table(higher_bite[3], sep = ' ')

In [108]:
lb_40.tail(10)

    PEAK_POSITION  PEAK_ENERGY  CROSS_SECTION     ERROR
29          317.3  1221.582568       0.050888  0.002808
30          293.0  1243.767751       0.013687  0.001755
31          277.0  1258.426639       0.052993  0.002925
32          253.4  1280.122941       0.085748  0.003509
33          215.5  1315.151392       0.016963  0.001755
34          186.7  1341.922329       0.018366  0.001989
35          171.8  1355.000000       0.076624  0.003393
36          112.0  1411.975286       0.001989  0.001053
37           45.3  1476.000000       0.095107  0.006317
38           36.2  1483.968495       0.065861  0.006200

In [107]:
hb_40.head(12)

    PEAK_POSITION  PEAK_ENERGY  CROSS_SECTION     ERROR
0          1727.1  1222.000000       0.054801  0.003023
1          1690.0  1237.000000       0.008567  0.001638
2          1670.6  1257.000000       0.049132  0.002898
3          1639.1  1279.000000       0.086674  0.003653
4          1583.8  1313.909737       0.014991  0.001764
5          1541.8  1343.000000       0.015747  0.002016
6          1523.6  1355.000000       0.072564  0.003527
7             0.0  1406.000000       0.000000  0.000000
8             0.0  1422.000000       0.000000  0.000000
9             0.0  1441.000000       0.000000  0.000000
10         1348.8  1476.000000       0.096248  0.006047
11         1336.0  1485.137377       0.062738  0.005417

In [109]:
'''
hb_ostates = hb_31.iloc[[0,2,3,5,6,10,11]].reset_index(drop = True)
lb_ostates = lb_31.iloc[[29,30,31,34,35,37,38]].reset_index(drop = True)
'''


hb_ostates = hb_40.iloc[[0,1,2,3,4,5,6,10,11]].reset_index(drop = True)
lb_ostates = lb_40.iloc[[29,30,31,32,33,34,35,37,38]].reset_index(drop = True)

In [110]:
hb_ostates

   PEAK_POSITION  PEAK_ENERGY  CROSS_SECTION     ERROR
0         1727.1  1222.000000       0.054801  0.003023
1         1690.0  1237.000000       0.008567  0.001638
2         1670.6  1257.000000       0.049132  0.002898
3         1639.1  1279.000000       0.086674  0.003653
4         1583.8  1313.909737       0.014991  0.001764
5         1541.8  1343.000000       0.015747  0.002016
6         1523.6  1355.000000       0.072564  0.003527
7         1348.8  1476.000000       0.096248  0.006047
8         1336.0  1485.137377       0.062738  0.005417

In [111]:
lb_ostates

   PEAK_POSITION  PEAK_ENERGY  CROSS_SECTION     ERROR
0          317.3  1221.582568       0.050888  0.002808
1          293.0  1243.767751       0.013687  0.001755
2          277.0  1258.426639       0.052993  0.002925
3          253.4  1280.122941       0.085748  0.003509
4          215.5  1315.151392       0.016963  0.001755
5          186.7  1341.922329       0.018366  0.001989
6          171.8  1355.000000       0.076624  0.003393
7           45.3  1476.000000       0.095107  0.006317
8           36.2  1483.968495       0.065861  0.006200

In [112]:
import numpy as np
xs = hb_ostates[['CROSS_SECTION']] / lb_ostates[['CROSS_SECTION']]
err = pd.DataFrame(xs['CROSS_SECTION'] * np.sqrt((hb_ostates['ERROR']/hb_ostates['CROSS_SECTION'])**2 + (lb_ostates['ERROR']/lb_ostates['CROSS_SECTION'])**2))
err

          0
0  0.084026
1  0.144071
2  0.074884
3  0.059386
4  0.138457
5  0.143749
6  0.062268
7  0.092524
8  0.121682

In [113]:
xs

   CROSS_SECTION
0       1.076902
1       0.625892
2       0.927134
3       1.010789
4       0.883802
5       0.857406
6       0.947016
7       1.011996
8       0.952570

In [114]:

avg = np.average(xs, weights = err)
avg

0.8949034776479442

In [115]:
np.sqrt(np.average((xs-avg)**2, weights=err))

0.13240141813480336