In [1]:
import glob
import pandas as pd
higher_bite = glob.glob('/home/ben/Documents/analysis_code/spectrum_analysis/_pre_normalised_bite_outputs/116Cd_d,p_bite_2/*')
lower_bite = glob.glob('/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/*')

In [2]:
higher_bite

['/home/ben/Documents/analysis_code/spectrum_analysis/_pre_normalised_bite_outputs/116Cd_d,p_bite_2/116Cd_d,p_117Cd_18degrees_bite_2_peaks.txt_old',
 '/home/ben/Documents/analysis_code/spectrum_analysis/_pre_normalised_bite_outputs/116Cd_d,p_bite_2/116Cd_d,p_117Cd_25degrees_bite_2_peaks.txt_old',
 '/home/ben/Documents/analysis_code/spectrum_analysis/_pre_normalised_bite_outputs/116Cd_d,p_bite_2/116Cd_d,p_117Cd_31degrees_bite_2_peaks.txt_old',
 '/home/ben/Documents/analysis_code/spectrum_analysis/_pre_normalised_bite_outputs/116Cd_d,p_bite_2/116Cd_d,p_117Cd_40degrees_bite_2_peaks.txt_old']

In [3]:
lower_bite

['/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_31degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_18degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_40degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_25degrees_bite_1_peaks.txt',
 '/home/ben/Documents/analysis_code/spectrum_analysis/116Cd_d,p_bite_1_unnorm/output/116Cd_d,p_117Cd_10degrees_bite_1_peaks.txt']

In [4]:
lb_18 = pd.read_table(lower_bite[1], sep = ' ')
hb_18 = pd.read_table(higher_bite[0], sep = ' ')

lb_25 = pd.read_table(lower_bite[3], sep = ' ')
hb_25 = pd.read_table(higher_bite[1], sep = ' ')

lb_31 = pd.read_table(lower_bite[0], sep = ' ')
hb_31 = pd.read_table(higher_bite[2], sep = ' ')

lb_40 = pd.read_table(lower_bite[2], sep = ' ')
hb_40 = pd.read_table(higher_bite[3], sep = ' ')

In [32]:
lb_18.tail(10)

    PEAK_POSITION  PEAK_ENERGY  CROSS_SECTION     ERROR
29          315.9  1221.539515       0.015647  0.002164
30          277.1  1257.167614       0.017978  0.002164
31          253.0  1279.419963       0.143158  0.005327
32          299.0  1237.028024       0.003163  0.001498
33          218.8  1311.159143       0.008323  0.001831
34          184.6  1343.087402       0.033958  0.003329
35          170.9  1355.000000       0.133337  0.005493
36            0.0  1412.000000       0.000000  0.000000
37           45.1  1476.000000       0.179114  0.008656
38           35.1  1484.876607       0.019310  0.006991

In [33]:
hb_18.head(12)

,Unnamed: 0,Unnamed: 0.1,PEAK_POSITION,PEAK_ENERGY,CROSS_SECTION,ERROR
0,0,0,1717.1,1222.000000,0.020472,0.002810
1,1,1,1692.0,1237.000000,0.005620,0.002007
2,2,2,1663.9,1257.000000,0.010637,0.002208
3,3,3,1630.5,1279.000000,0.153540,0.006423
4,4,4,1597.0,1300.266014,0.006623,0.002408
5,5,5,1532.6,1343.000000,0.045360,0.004416
6,6,6,1514.1,1355.000000,0.145913,0.006423
7,7,7,1439.0,1407.290739,0.008028,0.002408
8,8,8,1411.0,1426.699632,0.011039,0.002810
9,9,9,1394.4,1438.269236,0.013046,0.003011
10,10,10,1341.1,1476.000000,0.203315,0.013046
11,11,11,1329.0,1484.306326,0.012845,0.010637

In [34]:

hb_ostates = hb_18.iloc[[0,2,3,5,6,10,11]].reset_index(drop = True)
lb_ostates = lb_18.iloc[[29,30,31,34,35,37,38]].reset_index(drop = True)


'''
hb_ostates = hb_25.iloc[[5,6,10,11]].reset_index(drop = True)
lb_ostates = lb_25.iloc[[34,35,37,38]].reset_index(drop = True)
'''

'''
hb_ostates = hb_31.iloc[[0,1,2,3]].reset_index(drop = True)
lb_ostates = lb_31.iloc[[29,30,31,32]].reset_index(drop = True)
'''

'''
hb_ostates = hb_40.iloc[[0,1,2,3,4,5,6,10,11]].reset_index(drop = True)
lb_ostates = lb_40.iloc[[29,30,31,32,33,34,35,37,38]].reset_index(drop = True)
'''

'\nhb_ostates = hb_40.iloc[[0,1,2,3,4,5,6,10,11]].reset_index(drop = True)\nlb_ostates = lb_40.iloc[[29,30,31,32,33,34,35,37,38]].reset_index(drop = True)\n'

In [35]:
hb_ostates

,Unnamed: 0,Unnamed: 0.1,PEAK_POSITION,PEAK_ENERGY,CROSS_SECTION,ERROR
0,0,0,1717.1,1222.000000,0.020472,0.002810
1,2,2,1663.9,1257.000000,0.010637,0.002208
2,3,3,1630.5,1279.000000,0.153540,0.006423
3,5,5,1532.6,1343.000000,0.045360,0.004416
4,6,6,1514.1,1355.000000,0.145913,0.006423
5,10,10,1341.1,1476.000000,0.203315,0.013046
6,11,11,1329.0,1484.306326,0.012845,0.010637

In [36]:
lb_ostates

   PEAK_POSITION  PEAK_ENERGY  CROSS_SECTION     ERROR
0          315.9  1221.539515       0.015647  0.002164
1          277.1  1257.167614       0.017978  0.002164
2          253.0  1279.419963       0.143158  0.005327
3          184.6  1343.087402       0.033958  0.003329
4          170.9  1355.000000       0.133337  0.005493
5           45.1  1476.000000       0.179114  0.008656
6           35.1  1484.876607       0.019310  0.006991

In [37]:
import numpy as np
xs = hb_ostates[['CROSS_SECTION']] / lb_ostates[['CROSS_SECTION']]
err = pd.DataFrame(xs['CROSS_SECTION'] * np.sqrt((hb_ostates['ERROR']/hb_ostates['CROSS_SECTION'])**2 + (lb_ostates['ERROR']/lb_ostates['CROSS_SECTION'])**2))
err

          0
0  0.254923
1  0.141963
2  0.060045
3  0.184544
4  0.065976
5  0.091183
6  0.601237

In [38]:
xs

   CROSS_SECTION
0       1.308325
1       0.591691
2       1.072522
3       1.335739
4       1.094322
5       1.135116
6       0.665220

In [39]:

avg = np.average(xs, weights = 1/err**2)
avg

1.071015904991224

In [40]:
np.sqrt(1/np.sum(1/err**2))

0    0.037152
dtype: float64